{% extends "layout.html" %}

{% block content %}

<h1>
	{{ heading }}
</h1>
<h3><em>
	{{ message }}
</em></h3>

<p>
	{{ content }}
</p>

<p>
	The aim of this thesis is to first analyze the layout and system of Tien Phong's warehouse. 
	Then, modeling and quantifying the value of the warehouse operations to make optimization and operation easier. 
	Finally, proposing solutions and designing a standalone warehouse management system for 
	Tien Phong Plastic Joint Stock Company's warehouse.
</p>

{% endblock %}
