{% extends "layout.html" %}

{% block content %}

<h1>
	{{ heading }}
</h1>
<h3><em>
	{{ message }}
</em></h3>

<p>
	{{ content }}
</p>

<address>
    Hanoi University of Science and Technology<br />
    School of Electrical Engineering<br />
    <abbr title="Phone">P:</abbr>
    (+84) 0.396.455.675
</address>

<address>
    <strong>HUST:</strong>   <a href="mailto:quyen.np192246@sis.hust.edu.vn">quyen.np192246@sis.hust.edu.vn</a><br />
    <strong>GMAIL:</strong> <a href="mailto:quyen.nppsm@gmail.com">quyen.nppsm@gmail.com</a>
</address>

{% endblock %}