{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    School of Electrical Engineering<br />
    Hanoi University of Science and Technology<br />
    <abbr title="0847169369">P:</abbr>
    +84 0-847-196-369
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:quyen.nppsm@gmail.com">quyen.nppsm@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://linkedin.com/in/quyennp">Nguyen Phu Quyen</a>
</address>

{% endblock %}
