{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>PROJECET: Warehouse Management System</h1>
    <p class="lead">
        This is a PBRT for the thesis "WAREHOUSE MANAGEMENT SYSTEM DESIGN FOR SMART WAREHOUSE".
    </p>
    <p><a href="https://github.com/quyennppsm/Project_Thesis-WMS" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Abstract</h2>
        <p>
            My heartfelt gratitude goes to Ms. Dinh Thi Lan Anh for her invaluable guidance
            and assistance. Her support was one of the most critical factors in helping me
            overcome numerous obstacles along the way. Without her help and the favorable
            conditions she provided, I would not have been able to complete this project.
        </p>
        <p><a class="btn btn-default" href="https://open.spotify.com/user/21j4q232gg62bhulz3be2zuda">Spotify &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Social account.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/enrcast/">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>
            Carrer platform.
        </p>
        <p><a class="btn btn-default" href="https://linkedin.com/in/quyennp">Linkedin &raquo;</a></p>
    </div>
</div>

{% endblock %}
